header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65);
    padding: 0 2rem;
}
header>img{
    margin-left: 5rem;
    height: 5rem;
}
header>ul{
    display: flex;
    color: red;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
    -webkit-text-stroke: white .5px;
}
header>ul>li{
    margin: 1rem;
}
main{
    width: 40rem;
    margin: auto;
    text-align: center;
}